/awesome-go/bazel/cpp-tutorial/stage1/bazel-bin/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-out/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-stage1/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-testlogs/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-bin/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-out/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-stage1/
/awesome-go/bazel/cpp-tutorial/stage1/bazel-testlogs/
